.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(140, 97, 97);

  align-items: center;
  min-height: 75px;
  padding-left: 25px;
  font-size: x-large;
  font-family: Papyrus;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-places {
  display: inline;

  margin: auto;

  background-color: lightcoral;
}

.place-item {
  border-color: rgba(223, 204, 204, 0.467);
  border-radius: 10px;
  width: 1000px;
  margin: auto;
  border-style: solid;

  border-width: 7px;
}

.place-item-img {
  display: flex;
  margin: auto;
  border-radius: 10px;
}

.place-item-body {
  margin: 10px;
}

.btn {
  background-color: rgb(187, 163, 136);
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  border-radius: 3px;
  border-width: 0px;
  display: flex;
  font-family: Papyrus;
  font-size: x-large;
}

a {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  cursor: pointer;
  text-indent: 50px;
  letter-spacing: 5px;
}

.cart-container {
  margin: 20px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
